{% extends 'layout.html' %}

<!-- MAIN -->
{% block main %}
<section class="section consulta">
  
  <form action="/" method="post">
    <div class="field has-addons">
    <div class="control">
    <input class="input" type="text" name="libro" id="libro" required placeholder="título del libro"/>
  </div>
    <div class="control">
    <button class="button is-info" type="submit">Consultar</button>
  </div>
  </form>
</div>
</section>

<section class="section respuesta">

{% for titulo, precio, autor in consulta %}
  <ul class="content respuesta__lista">
    <li>{{ titulo }}</li>
    <li>{{ precio }}</li>
    <li>{{ autor }}</li>
  </ul>
  {% endfor %}

</section>
{% endblock %}
